
<section class="content-main">
    <div class="container d-flex ">
    <form action="/admin/add_product" enctype="multipart/form-data" method="post" style=" margin-left: 19rem;"  >
        <div class="row">
            <div class="col-9">
                <div class="content-header">
                    <h2 class="content-title">Add New Product</h2>
                    <div>

                        <button class="btn btn-md rounded font-sm hover-up" type="submit">add product</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Basic</h4>
                    </div>
                    <div class="card-body">

                        <div class="mb-4">
                            <label for="product_name" class="form-label">Product title</label>
                            <input type="text" name="name" placeholder="Type here" class="form-control"
                                id="product_name">
                        </div>
                        <div class="mb-4">
                            <label class="form-label">Full description</label>
                            <textarea placeholder="Type here" name="discription" class="form-control"
                                rows="4"></textarea>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="mb-4">
                                    <label class="form-label"> price</label>
                                    <div class="row gx-2">
                                        <input placeholder="$" type="text" name="price" id="price" class="form-control" onkeyup="return validatePrice()">
                                        <span id="price-error" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="mb-4">
                            <label class="form-label">Quantity</label>
                            <input type="text" placeholder="%" name="quantity" class="form-control" id="quantity" onkeyup="return validateQuantity()">
                            <span id="quantity-error" class="text-danger"></span>
                        </div>

                    </div>
                </div> <!-- card end// -->

            </div>
            <div class="col-lg-3">
                <div class="card mb-4">
                    <div class="card-header">
                        <h4>Media</h4>
                    </div>
                    <div class="card-body">
                        <div class="input-upload">
                           <!-- <img src="/adminAssets/imgs/theme/upload.svg" alt=""> -->
                            <input class="form-control" name="image" type="file" multiple >
                        </div>
                    </div>
                </div> <!-- card end// -->
                <div class="card mb-4">

                    <div class="card-body">
                        <div class="row gx-2">
                            <div class="col-sm-6 mb-3">
                                <label class="form-label">Category</label>

                                <select class="form-select" name="category">
                                    <% response.forEach(function(response,index) { %>
                                        <option value="<%= response.categoryName%>">
                                          <%= response.categoryName%>
                                        </option>
                                        <% }) %>
                                    
                                     
                                    
                                </select>
                            </div> 
                        </div> 
                    </div>
                </div> <!-- card end// -->
            </div>

        </div>
    </form>
    <script>
        function validatePrice() {
            const regPrice = /^[1-9][0-9]*$/;
            const price = document.getElementById('price').value
            if (!regPrice.test(price)) {
                document.getElementById('price-error').innerHTML = 'price should be greater than zero'
                return false
            } else {
                document.getElementById('price-error').innerHTML = ''
                return true
            }
        }
        function validateQuantity() {
            const regQuantity= /^[1-9][0-9]*$/
            const quantity=document.getElementById('quantity').value
            if (!regQuantity.test(quantity)) {
                document.getElementById('quantity-error').innerHTML = 'quantity should be greater than zero'
                return false
            } else {
                document.getElementById('quantity-error').innerHTML = ''
                return true
            }
        }
    </script>
    </div>
</section>
