<header class="header-area header-style-5">
    
    <div class="header-bottom sticky-bar sticky-white-bg">
        <div class="container">
            <div class="header-wrap header-space-between position-relative">
                <div class="logo logo-width-1">
                    <a href="index.html"><img src="assets/imgs/theme/logo.svg" alt="logo"></a>
                </div>
                <div class="main-menu main-menu-grow main-menu-padding-1 main-menu-lh-1 main-menu-mrg-1 hm3-menu-padding d-none d-lg-block hover-boder">
                    <nav>
                        <ul>
                            <li><a class="active" href="/">Home <i class="fi-rs-angle-down"></i></a>
                               
                            </li>

                           

                            <li><a href="/shop">Shop <i class="fi-rs-angle-down"></i></a>
                              
                            </li>
                              
                            </li>
                            <li><a class="active" href="/order">Orders <i class="fi-rs-angle-down"></i></a>
                               
                            </li>                            
                        </ul>
                    </nav>
                </div>
                <div class="header-action-right">
                    <div class="search-style-2">
                     
                           
                            <div class="search-style-2 mr-20">
                                <form action="/search" method="POST">
                                  <input
                                    type="text"
                                    name="search"
                                    id="keyword"
                                    placeholder="Search for items..."
                                    
                                  />
                    
                                  <button type="submit" style="display: none">Submit</button>
                                </form>
                              </div>
                       
                    </div>
                    <div class="header-action-2">
                        
                        <div class="header-action-icon-2">
                            <a class="mini-cart-icon" href="/view_cart">
                                <img alt="Evara" src="assets/imgs/theme/icons/icon-cart.svg">
                                <% if(locals.users){%>
                                <span class="pro-count blue" id="cart-count" 
                                ><%= locals.count %></span>
                                <%}%>
                            </a>
                            
                        </div>
                        <div>
                       
                            <div>
                                <%if (locals.users){%>
                                    <a href="/logout">
                                        <button>Logout</button>
                                      </a>
                                      <%}else{%>
                                        <a href="/login">
                                            <button>Login</button>
                                          </a>
                                          <%}%>
                            </div>
                        <div class="header-action-icon d-block d-lg-none">
                            <div class="burger-icon">
                                <span class="burger-icon-top"></span>
                                <span class="burger-icon-mid"></span>
                                <span class="burger-icon-bottom"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>