<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
     


    <%-include ('partials/adminHeader') %>

   <%if(locals.adminStatus){%> <%-include('partials/adminSidebar')%> <%}%>

 

    <%-body%>

    



     <script src="adminAssets/js/vendor/modernizr-3.6.0.min.js"></script>
     <script src="adminAssets/js/vendor/jquery-3.6.0.min.js"></script>
     <script src="adminAssets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
     <script src="adminAssets/js/vendor/bootstrap.bundle.min.js"></script>
     <script src="adminAssets/js/plugins/slick.js"></script>
     <script src="adminAssets/js/plugins/jquery.syotimer.min.js"></script>
     <script src="adminAssets/js/plugins/wow.js"></script>
     <script src="adminAssets/js/plugins/jquery-ui.js"></script>
     <script src="adminAssets/js/plugins/perfect-scrollbar.js"></script>
     <script src="adminAssets/js/plugins/magnific-popup.js"></script>
     <script src="adminAssets/js/plugins/select2.min.js"></script>
     <script src="adminAssets/js/plugins/waypoints.js"></script>
     <script src="adminAssets/js/plugins/counterup.js"></script>
     <script src="adminAssets/js/plugins/jquery.countdown.min.js"></script>
     <script src="adminAssets/js/plugins/images-loaded.js"></script>
     <script src="adminAssets/js/plugins/isotope.js"></script>
     <script src="adminAssets/js/plugins/scrollup.js"></script>
     <script src="adminAssets/js/plugins/jquery.vticker-min.js"></script>
     <script src="adminAssets/js/plugins/jquery.theia.sticky.js"></script>
     <!-- Template  JS -->
     <script src="adminAssets/js/main.js"></script>
</body>
</html>